.BannerBox {
  //   width: 2000px;
  height: 500px;
  position: relative;
  img {
    width: 100vw;
    height: 500px;
    filter: brightness(50%);
  }
  .Title {
    width: fit-content;
    height: 132px;
    text-align: left;
    font: normal normal 300 110px/132px Lato;
    letter-spacing: 0px;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 35%;
  }
  .ImageBox {
    position: absolute;
  }
}
